<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">Product List
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>
                    <button id="show-button" class="btn btn-primary" ng-click="vm.toggleImage()">{{vm.showImage ? "Hide" :"Show"}} Image</button>
                </td>
                <td>Product</td>
                <td>Code</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in vm.products">
                <td>
                    <img ng-show="vm.showImage" ng-src="{{product.imageUrl}}" title="{{product.productName}}" style="height:50px; width:50px">
                </td>
                <td > 
<a ui-sref="super.productDetail({productId:product.productId})">{{product.productName}}</a>
                </td> 
                <td>{{product.productCode}}</td>
                <td>{{product.releaseDate}}</td>
                <td>{{product.price}}</td>
                <td>
                <button class ="btn btn-primary" 
                ui-sref="super.productEdit.info({productId:product.productId})">Edit </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>